body {
  background-color: #1B676B; }

.content {
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff; }
  .content .header {
    padding: 20px 0 0;
    text-align: left; }
  .content .city-select {
    width: auto;
    display: inline;
    cursor: pointer; }
  .content .city-info {
    margin-top: 15px; }
    .content .city-info .city-name {
      font-weight: bold;
      font-size: 23px; }
  .content .forecast-day {
    margin-bottom: 20px; }
    .content .forecast-day .day-header {
      padding: 15px;
      background: #88C425;
      color: #ffffff; }
    .content .forecast-day .day-footer {
      padding: 15px;
      border-top: 1px solid #EDE574;
      background: #EAFDE6; }
    .content .forecast-day .day-content {
      padding: 15px;
      background-color: #ffffff; }
      .content .forecast-day .day-content .day-pic {
        width: 80px; }
      .content .forecast-day .day-content .main-props {
        display: inline-block;
        font-size: 22px;
        font-weight: bold; }
