.content{
	max-width: 1200px;
	margin: 0 auto;
	.header{
		padding: 20px 0;
		text-align: left;
	}
	.city-select{
		width: auto;
		display: inline;
		cursor: pointer;
	}
	.city-info{
		margin-top: 15px;
		.city-name{
			font-weight: bold;
			font-size: 23px;
		}
	}
	.forecast-day {
		margin-bottom: 20px;

		.day-header{
			padding: 15px;
			background: #337ab7;
			color: white;
		}
		.day-footer{
			padding: 15px;
			border-top: 1px solid gray;
			background: #F2F2F2;
		}
		.day-content{
			padding: 15px;
			.day-pic{
				width: 80px;
			}
			.main-props{
				display: inline-block;
				font-size: 22px;
				font-weight: bold;
			}
		}
	}
}